.nav {
    margin-bottom: 20px;
}

.tabs-container {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: px solid #ddd;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    color: #6c757d;
    font-weight: bold;
    font-size: 14px;
    transition: border-color 0.2s ease;
}

.tab-button:hover:not(.active-tab),
.tab-button:focus:not(.active-tab) {
    border-bottom-color: #6b6c6d;
}

.active-tab {
    color: #14377d;
    border-bottom: 1.5px solid #14377d;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 16px 30px;
}

.search-bar i {
    margin-top: 20px;
    position: absolute;
    padding: 8px 9px;
    color: #a4a3a3;
}

.search-input {
    margin-top: 20px;
    width: 260px;
    padding: 4px 30px;
    border: 1px solid #a4a3a3;
    border-radius: 20px;
}

.search-input:hover {
    border: 1px solid #14377d;
}

.search-input:focus {
    outline: none;
    border-color: #14377d;
    box-shadow: 0 0 10px #14377d;
}

.skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.action-button {
    align-items: center;
    gap: 5px;
    padding: 7px 11px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 300ms ease;
}

.action-button i {
    font-size: 0.7rem;
    margin-right: 2px;
}

.edit-button {
    background-color: #14377d;
    color: white;
}

.edit-button:hover {
    background-color: #2467ba;
}

.delete-button {
    background-color: #c2091c;
    color: white;
}

.delete-button:hover {
    background-color: #ef4444;
}

.custom-dialog {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.custom-dialog .p-dialog-header {
    font-weight: bold;
    color: #2f3e4d;
    font-size: 1.25rem;
}

.form-field .p-float-label label {
    color: #5a6b7b;
    font-weight: 100;
    transition: color 0.2s ease;
}

.form-field .p-inputtext {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #ffffff;
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
    box-sizing: border-box;
}

.form-field .p-inputtext:focus {
    border-color: #14377d;
    box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.25);
}

.form-field .p-calendar {
    width: 100%;
    box-sizing: border-box;
}

.form-field .p-calendar .p-inputtext {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #ffffff;
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

.form-field .p-calendar .p-inputtext:focus {
    border-color: #14377d;
    box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.25);
}

.form-field .p-dropdown {
    width: 100%;
    padding: 0rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #ffffff;
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
    box-sizing: inherit;
}

.form-field .p-dropdown .p-dropdown-label {
    padding: 12px;
    color: #495057;
    font-size: 0.9rem;
}

.form-field .p-dropdown:focus-within {
    border-color: #14377d;
    box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.25);
}

.form-field .p-dropdown .p-dropdown-trigger {
    color: #5a6b7b;
}

.form-field .p-dropdown .p-dropdown-items {
    border-radius: 8px;
    border-color: #ced4da;
}

.p-button-outlined {
    color: #6c757d;
    border-color: #6c757d;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 6px;
    transition:
        background-color 0.4s ease,
        box-shadow 0.2s ease;
}

.p-button-outlined:hover {
    background-color: #f396a1;
    color: #fffdfd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.p-button-success {
    background-color: #14377d;
    border: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 6px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.p-button-success:hover {
    background-color: #2467ba;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.p-dialog .p-dialog-content {
    color: #495057;
    font-size: 0.9rem;
    line-height: 1.5;
}

.p-dialog-footer {
    padding-top: 1rem;
    border-top: 1px solid #e9ecef;
}

.custom-confirm-dialog .p-dialog-header {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2f3e4d;
}

.custom-confirm-dialog .p-dialog-content {
    font-size: 1rem;
    color: #4a4a4a;
    padding: 1.5rem;
}

.custom-confirm-dialog .p-dialog-footer {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.custom-accept-button {
    background-color: #14377d !important;
    color: #ffffff !important;
    font-weight: 600;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.custom-accept-button:hover {
    background-color: #2467ba !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-reject-button {
    color: #6c757d !important;
    border-color: #6c757d !important;
    font-weight: 600;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    transition:
        background-color 0.3s ease,
        box-shadow 0.2s ease;
}

.custom-reject-button:hover {
    background-color: #f396a1 !important;
    color: #fffdfd !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container .p-paginator {
    background-color: transparent;
    border-radius: 8px;
    font-size: small;
    display: flex;
    align-items: center;
    color: #9aa1b2;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.table-container .p-paginator .p-paginator-pages .p-paginator-page {
    color: #4a4a4a;
    background-color: transparent;
    padding: 5px 12px 5px 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

.table-container .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: #14377d;
    margin: 0 8px;
    min-width: min-content;
    height: fit-content;
    font-weight: bold;
    background-color: rgba(4, 123, 250, 0.147);
}

.table-container .p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: rgba(0, 123, 255, 0.147);
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

.table-container .p-paginator .p-paginator-icon {
    color: #9aa1b2;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

.table-container .p-paginator .p-paginator-icon:hover {
    background-color: rgba(0, 123, 255, 0.147);
    color: #9aa1b2 !important;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

.table-container .p-paginator .p-paginator-rpp-options {
    background-color: transparent;
    height: 35px;
    border: 1px solid #9aa1b2;
    border-radius: 15px;
    color: #4a4a4a;
    align-items: center;
    transition:
        border-color 0.2s ease,
        background-color 0.2s ease;
}

.table-container .p-paginator .p-paginator-rpp-options:hover {
    border-color: #14377d;
    background-color: rgba(20, 55, 125, 0.05);
}

.table-container
    .p-paginator
    .p-paginator-rpp-options
    .p-dropdown-trigger-icon {
    color: #9aa1b2;
}

.status-badge {
    padding: 0.28rem 0.3rem;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 0.7rem;
}
.status-active {
    background-color: #22c55e;
}
.status-inactive {
    background-color: #ef4444;
}

.status-draft {
    background-color: #676766;
}

.action-button {
    margin-right: 0.7rem;
}
