@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0909;
}

.sidebar-link {
    margin-left: 10px;
    display: flex;
    width: 100%;
    padding: 0.2rem;
    background-color: transparent;
    color: white;
    font-size: 15px;
    transition: color 0.3s ease, background-size 0.3s ease;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #fbfcfd1a, #fbfcfd1a);
    background-size: 0 100%; 
    background-repeat: no-repeat;
}

.sidebar-link:hover {
    color: #e0e0e0; 
    background-size: 100% 100%; 
    background-position: 0;
}

.sidebar-link.active {
    font-weight: bold;
  }

.mr-2 {
    font-size: 15px;
    align-items: center;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #6b7280;
}

.ml-0 {
    margin-left: 0 !important;
}

.new-button {
    background-color: #14377D;
    color: white;
    border: none;
    padding: 1px 16px;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.new-button i {
    font-size: 13px;
    margin-right: 8px;
}

.new-button:hover {
    transition: 300ms;
    background-color: #2467ba;
}

.breadcrumb-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #6b7280;
}

.home-icon {
    color: #6b7280;
    margin-left: 20px;
    font-size: 14px;
}

.breadcrumb-item {
    font-weight: 500;
}

.breadcrumb-separator {
    margin: 0 12px;
    font-size: 15px;
}

.main-content {
    padding: 13px;
    background-color: #f4f4f4;
}

.new-button {
    background-color: #14377d;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .leftside {
        position: fixed;
        width: 100px;
    }

    .leftside ul {
        padding-left: 0;
    }
}

