/* Importing Tailwind base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0909;
}

/* Sidebar link styling */
.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    padding: 0.2rem;
    font-size: 15px;
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to right, #fbfcfd1a, #fbfcfd1a);
    background-size: 0 100%; 
    background-repeat: no-repeat;
    border-radius: 0.375rem;
    transition: color 0.3s ease, background-size 0.3s ease;
}

.sidebar-link:hover {
    color: #e0e0e0;
    background-size: 100% 100%;
    background-position: 0;
}

.sidebar-link.active {
    font-weight: bold;
}

/* Styling for icons inside sidebar links */
.mr-2 {
    font-size: 15px;
    align-items: center;
}

/* Breadcrumb container and item styling */
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #6b7280;
}

.breadcrumb-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #6b7280;
}

/* Breadcrumb specific styles */
.breadcrumb-item {
    font-weight: 500;
}

.breadcrumb-separator {
    margin: 0 12px;
    font-size: 15px;
}

/* Home icon styling */
.home-icon {
    color: #6b7280;
    margin-left: 20px;
    font-size: 14px;
}

/* General utility class to reset left margin */
.ml-0 {
    margin-left: 0 !important;
}

/* "New" button styling */
.new-button {
    background-color: #14377d;
    color: white;
    border: none;
    padding: 1px 16px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.new-button i {
    font-size: 13px;
    margin-right: 8px;
}

.new-button:hover {
    background-color: #2467ba;
}

/* Main content styling */
.main-content {
    padding: 13px;
    background-color: #EFF3F8;
}

/* Responsive styles */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .leftside {
        position: fixed;
        width: 100px;
    }

    .leftside ul {
        padding-left: 0;
    }
}


