@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0909;
}

.ml-0 {
    margin-left: 0 !important;
}

.tabs-container {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    color: #6c757d;
    font-weight: bold;
    font-size: 14px;
    transition: border-color 0.2s ease; 
}

.tab-button:hover:not(.active-tab),
.tab-button:focus:not(.active-tab) {
    border-bottom-color: #6b6c6d;
}

.active-tab {
    color: #14377D;
    border-bottom: 1.5px solid #14377D;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 16px 30px 
}

.search-bar i {
margin-top: 20px;
position: absolute;
padding: 8px 9px;
color: #a4a3a3
}

.search-input {
    margin-top: 20px;
    width: 260px;
    padding: 4px 30px;
    border: 1px solid #a4a3a3;
    border-radius: 20px;
}

.search-input:hover {
    border: 1px solid #14377D
}

.search-input:focus {
    outline: none;
    border-color: #14377D;
    box-shadow: 0 0 10px #14377D
}

.table-container {
    width: 100%;
    border-collapse: collapse;

}

.action-button {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.edit-button {
    background-color: #14377D;
    color: white;
}

.edit-button:hover {
    transition: 300ms;
    background-color: #2467ba;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    transition: 300ms;
    background-color: #e67472;
}

.new-button {
    background-color: #14377D;
    color: white;
    border: none;
    padding: 1px 16px;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.new-button i {
    font-size: 13px;
    margin-right: 8px;
}

.new-button:hover {
    transition: 300ms;
    background-color: #2467ba;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .leftside {
        position: fixed;
        width: 100px;
    }

    .leftside ul {
        padding-left: 0;
    }
}

